
.status {
  width: 65px;
  height: 65px;
  margin-left: 5px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border-style: solid; /* Corrected */
  border-width: 4px;
  border-color: rgb(220, 84, 220);
  cursor: pointer;
  
}


.status-bar{
  display: flex;
  flex-direction: row;
  margin-left: 260px;
  
}

.status1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right:15px;
}

.status-names{

  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
 margin-left: 13px;
}

.main-body{
  display: flex;
  flex-direction: column;
}

